.alert {
    padding: 1em;
    border: 1px solid transparent;
    border-radius: $border-radius;
    margin: 1em 0;

    &.warning {
        color: #664d03;
        background-color: #fff3cd;
        border-color: #ffecb5;
    }
}
