$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

$primary-color: #16a085;
$secondary-color: #785eef;

$text-color: #000;
$text-color-dimmed: #aaa;
$color-danger: #e74c3c;

$background-color: #fff;
$background-color-alt: #fcfcfc;

$box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

$border-color: #eee;
$border-radius: 10px;
$border-width: 1px;
$border: $border-width solid $border-color;
$border-width-wide: 2px;

$page-width: 800px;

$transition-duration: 2000ms;

$top-bar-height: 30px;
$top-bar-font-size: 16px;
